.floatButton {
    position: fixed;
    bottom: 3%;
    right: 2%;

}

.fab {
    color: white !important;
    background-color: #000 !important;
}

.imageStatic {
    width: 100% !important;
    height: 250px;
    border-radius: 100px;
    margin-top: 5px;
}

.getimageCategory {
    width: 100%;
    height: 200px;
}




.loader {
    width: 15px;
    aspect-ratio: 1;
    background: #000;
    border-radius: 50%;
    animation: l6 1s infinite linear alternate;
}

@keyframes l6 {
    0% {
        box-shadow: 15px 0, -25px 0
    }

    50% {
        box-shadow: 15px 0, -15px 0
    }

    100% {
        box-shadow: 25px 0, -15px 0
    }
}

.search {
    position: relative;
}

.iconeSearch {
    position: absolute;
    top: 30%;
    right: 3%;

}

.iconeSearchClose {
    position: absolute;
    left: 3%;
    top: 30%;

}
 
.mouseCursor {
    cursor: pointer !important;
}

.divImagesProduct {
    position: relative !important;

}

.divImagesProduct img {
    height: 130px;
}

.iconCloseProduct {
    position: absolute !important;
    top: -1%;
    right: 0%;
    border: 1px solid;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.imageCoverProduct {
    height: 150px !important;
}
.mouseCursor {
    cursor: pointer !important;
}
.pErrors{
    font-size: 13px;
}
.imageGetProduct{
    width: 90% !important;
    height: 250px;
    border-radius: 10px;
    margin-top: 5px;
}


.search {
    position: relative;
}

.iconeSearch {
    position: absolute;
    top: 30%;
    right: 3%;

}

.iconeSearchClose {
    position: absolute;
    left: 3%;
    top: 30%;

}

.mouseCursor {
    cursor: pointer !important;
}